In [22]:
import pandas as pd 


def get_tracefile_df(filename):
    df = pd.read_csv(filename, sep=" ", names=["event", "time", "src_node", "dst_node", "packet_type", "packet_size", "delete" ,"flags", "fragment_id", "src_address", "dst_address", "seq_number", "packet_id"])

    return df.drop([df.columns[6]], axis=1)

df = get_tracefile_df("top2.r")

In [23]:
df.head()

,event,time,src_node,dst_node,packet_type,packet_size,flags,fragment_id,src_address,dst_address,seq_number,packet_id
0,+,0.0,2,0,tcp,40,2,2.0,0.0,0,0,NaN
1,-,0.0,2,0,tcp,40,2,2.0,0.0,0,0,NaN
2,+,0.0,0,2,cbr,1000,1,0.1,2.1,0,1,NaN
3,-,0.0,0,2,cbr,1000,1,0.1,2.1,0,1,NaN
4,+,0.0,2,4,tcp,40,2,2.2,4.0,0,2,NaN

In [24]:
df['event'].value_counts()

+    986577
r    972155
-    972155
d     14422
Name: event, dtype: int64

In [25]:
df['packet_type'].value_counts()

rtProtoLS    2234536
tcp           253784
ack           241860
cbr           215129
Name: packet_type, dtype: int64