In [7]:
import tracefile


df = tracefile.get_tracefile_df("top2.tr")

In [8]:
df.head()

,event,time,src_node,dst_node,packet_type,packet_size,flags,fragment_id,src_address,dst_address,seq_number,packet_id
0,+,0.0,6,4,tcp,40,2,6.0,4.2,0,4,NaN
1,-,0.0,6,4,tcp,40,2,6.0,4.2,0,4,NaN
2,+,0.0,4,6,cbr,1000,1,4.3,6.1,0,5,NaN
3,-,0.0,4,6,cbr,1000,1,4.3,6.1,0,5,NaN
4,+,0.0,7,5,tcp,40,2,7.0,5.2,0,6,NaN

In [9]:
df['event'].value_counts()

+    64824
-    64521
r    64220
d      292
Name: event, dtype: int64

In [10]:
df['packet_type'].value_counts()

tcp          82718
ack          81597
cbr          24205
rtProtoDV     5337
Name: packet_type, dtype: int64